<!--pages/logout/logout.wxml-->
<view class="content">
  <view class="weui-panel weui-panel_access">
  <view class="weui-panel__bd">
    <view class="weui-media-box weui-media-box_appmsg">
      <view class="weui-media-box__bd weui-media-box__bd_in-appmsg">
        <view class="weui-media-box__title">头像</view>
      </view>
      <view class="weui-media-box__hd weui-media-box__hd_in-appmsg">
        <image class="weui-media-box__thumb" bindtap="previewImg" data-src="{{userInfo.avatar_url}}" src="{{userInfo.avatar_url}}" />
      </view>
    </view>
    <view class="weui-media-box weui-media-box_appmsg">
      <view class="weui-media-box__bd weui-media-box__bd_in-appmsg">
        <view class="weui-media-box__title">昵称</view>
      </view>
      {{userInfo.loginname}}
    </view>
    <view class="weui-media-box weui-media-box_appmsg">
      <view class="weui-media-box__bd weui-media-box__bd_in-appmsg">
        <view class="weui-media-box__title">登录ID</view>
      </view>
      {{userInfo.id}}
    </view>
  </view>
</view>
<button class="logout-btn" hover-class="change-opacity" bindtap="logout">退出账号</button>
</view>
