/* pages/logout/logout.wxss */
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}
.logout-btn {
  margin-top: 150rpx;
  background-color: #fff;
  color: red;
}
.change-opacity {
  opacity: 0.8;
}